<!-- input boxes and a submit butto to create the account-->
<form action="/createauser" method="post">
  <div class="AccountTitle">Enter a username and password to join EnterpriseProject!</div>
  <input class="UsernameBox" type="text" placeholder="username" title="Type in your username" name="username" required> 
  <input class="PasswordBox" type="password" placeholder="password" title="Type in your password" name="password" required>
  <button class="LogInButton" type="submit">Create Account</button> 
</form>