<!-- creates input boxes and 2 buttons-->
<form action="/dologin" method="post">
    <input class="UsernameBox" type="text" placeholder="username" title="Type in your username" name="username" required> 
    <input class="PasswordBox" type="password" placeholder="password" title="Type in your password" name="password" required>
    <button class="LogInButton" type="submit">login</button> 
  </form>
  
  <div>
    <form action="/SignUp">
      <button class="SignUpButton">Sign up</button>
    </form>
  </div>