<!-- link for the navigation-->
<script src="js/NavScript.js"></script>

<h1>EnterpriseProject</h1>

<!-- Navigation icon made using unicode -->
<div class="navicon" onclick="openNav()"><span>&#9776;</span></div>

<!-- page links for side navigation -->
<div id="nav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href = "/SignIn">Sign Out</a>
<a href = "/UserAccount">Your account</a>
</div>