<html>
<!-- calls in partials to page -->
<head>
  <%- include('../partials/Head.ejs') %>
</head>

<body>
  <%- include('../partials/Navigation.ejs') %>
  <div class="Welcome">
    <p> Create your Quote below! </p>
    <p> The price of the Quote is calculated by multiplying the selected weeks and the selected jobs weekly income (assuming they work 9 hours 5 times a week) </p>
    <p> This is not completely accurate as a fudge factor has been applied! </p>

  </div>
  <%- include('../partials/CreateQuote.ejs') %>
</body>
</html>