
<html>
<!-- calls in partials to page -->
<head>
    <%- include('../partials/Head.ejs') %>
</head>

<body>
    <h1>EnterpriseProject</h1>
    <%- include('../partials/CreateUser.ejs') %>
</body>
</html>
