<html>
<!-- calls in partials to page -->
<head>
  <%- include('../partials/Head.ejs') %>
</head>

<body>
  <%- include('../partials/Navigation.ejs') %>
    <div class="Welcome">
      <p> Hello <%= User %></p>
    </div>

    <div class="Welcome">
      <p> This is your Account page </p>
      <p> Here you can see your quotes </p>
    </div>
    
    <div class="AccountTitle">Quotes</div>
    <%- include('../partials/OpenQuotes.ejs') %>

  </body>
</html>
