<html>
<!-- calls in partials to page -->
<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/navigation.ejs') %>
    <div class="Welcome">
      <p> Hello <%= userdata %></p>
    </div>

    <div class="Welcome">
      <p> This is your Account page </p>
    </div>

  </body>
</html>
